html, body {
    font-family: 'Noto Sans', sans-serif;
}

.presentations-document__title {
    text-align: center;
    margin: 30px 0;
}

.presentations-document__list {
    display: flex;
    flex-wrap: wrap;
}

.presentations-document__list-item {
    margin: 0 13px 30px 30px;
}

.presentation-card {
    overflow: hidden;
    box-sizing: border-box;
    font-size: 12px;
    height: 400px;
    width: 400px;
    line-height: 100%;
    opacity: 1;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: box-shadow;
    transition-timing-function: linear;
}

.presentation-card:hover {
    box-shadow: 1px 2px 12px 2px rgba(0,0,0,0.5);
}

.presentation-card__link {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.presentation-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    box-sizing: border-box;
    margin: 0;
    font-family: Noto Sans;
    font-size: 20px;
    line-height: 32px;
    color: #424242;
}

.presentation-card__header {
    overflow: hidden;
    text-align: left;
    width: 100%;
    font-size: 16px;
    color: #111;
    text-decoration: none;
}

.presentation-card__image {
    width: 100%;
    height: calc(100% - 50px - 30px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.presentation-card__video-list {
    padding: 8px;
    box-sizing: border-box;
    text-align: left;
    font-family: Roboto Mono;
}

.presentation-card__video-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #5f6368;
}